.home{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
    

   
}

.h-left{

  align-items: center;
  flex-direction: column;
  z-index: 1;
 text-align: center;


}



.h-icons >a>svg{
    margin: 1rem;
   
}

.h-h{
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;
}

.h-p{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   background-image: linear-gradient(to right, var(--violet),var(--medium-blue),var(--skyBlue));
   text-transform: uppercase;
   font-weight: bolder;


}

.h-icons >a>*:hover{
  
   transform: scale(0.7);
}
.h-icons >*:hover{
    cursor: pointer;
    
    }
    

.h-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-p-p{
    padding: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
}