:root{
  --lavenderGray:#B7B8C5;
  --lavenderGreyLighter:#C9CAD9;
  --lavenderBlue:#D1D2F9;
  --babyBlueEyes:#A3BCF9;
  --blueGray:#7796CB;
  --darkBlueGray:#576490;
  --skyBlue:#7FDEFF;
  --lightBlueSky:#96D7FF;
  --mauve:#DABFFF;
  --plumWeb:#F9B4ED;
  --skyMagenta:#E574BC;
  --superPink:#D069AB;
  --pearlyPurple:#BD5F9B;
  --onyx:#414146;
  --raisinBlack:#29292C;
}
*{
  margin: 0;
  font-family: 'Poppins';
  
 
}

.App{
padding:0.5rem 3.5rem;
overflow: hidden;
color:var(--raisinBlack)
}

.button{
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

a{

    text-decoration: none;

}

body{
  background:radial-gradient(circle, hsla(265, 74%, 88%, 1) 0%, hsla(233, 13%, 87%, 1) 80%);
  height: 100vh;
}

