:root{
  --magenta:#F20089;
  --purple-electric:#BC00DD;
  --purple:#B100E8;
  --violet:#8900F2;
  --blue:#2D00F7;
  --medium-blue:#7A5CFF;

  --lavenderGray:#B7B8C5;
  --lavenderGreyLighter:#C9CAD9;
  --lavenderBlue:#D1D2F9;
  --babyBlueEyes:#A3BCF9;
  --blueGray:#7796CB;
  --darkBlueGray:#576490;
  --skyBlue:#7FDEFF;
  --lightBlueSky:#96D7FF;
  --mauve:#DABFFF;
  --plumWeb:#F9B4ED;
  --skyMagenta:#E574BC;
  --superPink:#D069AB;
  --pearlyPurple:#BD5F9B;
  --onyx:#414146;
  --raisinBlack:#29292C;
  
}
*{
  margin: 0;
  font-family: "GT Walsheim Bold";
  color: var(--raisinBlack);
  
 
}

.App{
padding:0.5rem 3.5rem;
overflow: hidden;
color:var(--raisinBlack)
}

.button{
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-color: transparent;
  padding: 0.5rem;
  background: var(--medium-blue);
  color:white;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

a{
  color: var(--raisinBlack);
    text-decoration: none;

}

body{
  background:radial-gradient(circle, hsla(265, 74%, 88%, 1) 0%, hsla(233, 13%, 87%, 1) 80%);
  height: 100vh;
}

